

.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 2rem auto;
}

.nav-link{
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(55, 55, 83);
    border-bottom: 2px solid #aaaa;
    padding: 0.8rem 2rem;
}
.nav-link:hover{
    text-decoration: underline;
}

@media(max-width:1000px){
    .nav-list{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}