{% extends 'base.html' %}




{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/post.css')}}"></link>
<link rel="stylesheet" href="{{url_for('static',filename='CSS/auth.css')}}">

{% endblock %}


{% block content %}

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="{{url_for('user.home')}}" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item">
            <a href="{{url_for('room.home',actual_room_code=assignment.room_code)}}" class="nav-link">Back to Room</a>
        </li>
        <li class="nav-list-item">
            <a href="{{url_for('auth.logout')}}" class="nav-link">Logout</a>
        </li>
    </ul>

</nav>

<div class="body">

    <div class="post-container">

        <div class="post-title-container">
            <h1 class="post-title">{{assignment.assignment_title}}  ( {{assignment.assignment_ponderation}} pts ) - {{assignment.expiration_date}}</h1>
        </div>
        <div class="post-body-container">
            <pre class="post-body">{{assignment.assignment_description}}</pre>
        </div>
    </div>

    <div id="form-container">
        <form id="form" action="/room/assignment/create_assignment_comment/{{current_user.username}}/{{assignment.assignment_code}}" method="POST">

            
            <div class="input-container">
                <textarea class="input-entry" name="comment_body" id="comment_body" placeholder="Write comment"></textarea>
            </div>

            
            <div class="button-container">
                <button class="button" type="submit">Comment</button>
            </div>

            

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="flash-message-container">
                    <p class="flash-message">{{message}}</p>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
    <div class="post-comments">
        {% for  comment in assignment.comments %}
        <div class="comment-container">
            <div class="comment-user-container">
                <h2 class="comment-user">{{comment.comment.username}}</h2>
            </div>
            <div class="comment-body-container">
                <pre class="comment-body">{{comment.comment.comment_body}}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}



{% block script %}
{% endblock %}