{% extends 'base.html' %}


{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{url_for('static',filename='CSS/home.css')}}"></link>
{% endblock %}



{% block content %}


<h1 class="title-h1">Welcome!</h1>

<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="{{url_for('room.create_post', actual_room_code=room_parameters['room_code'])}}" class="nav-link">Create Post</a>
        </li>
        <li class="nav-list-item">
            <a href="{{url_for('room.create_assignment', actual_room_code=room_parameters['room_code'])}}" class="nav-link">Create Assignment</a>
        </li>
        <li class="nav-list-item">
            <a href="{{url_for('auth.logout')}}" class="nav-link">Logout</a>
        </li>
    </ul>

</nav>








<div class="rooms-container">

    {% for post in room_parameters["posts"] %}
        <div class="room">
            <div class="room-title-container">
                <a href="#" class="room-link"> {{post[0].post_title}}</a>
            </div>
        </div>
    {% endfor %}


</div>

{% endblock %}